<p>servers works!</p>
<input
    type = "text"
    class = "form-control"
    (input)="onUpdateServerName($event)">
<!-- Notice that when serverName change the value this input changes 
    too because NgModel works in both directions (this not happens with the other input) -->
    <input
    type = "text"
    class="form-control"
    [(ngModel)]="serverName">
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="createServer()">Add new server</button>
<p [innerText]="allowNewServer"></p>
<p> {{ newServer }}</p>

<!-- The * before the directive is because can modify the DOM. I mean is a structural directive-->
<p *ngIf="serverCreated; else noServer"> The new Server {{ serverName }} was created!!</p>
<ng-template #noServer>
    <p>Server not created Yet</p>
</ng-template>

<app-server *ngFor="let server of serverList"></app-server>
<h3>Assigment 2</h3>

<input
    type="text"
    class="form-control"
    [(ngModel)]="userName">

<p>{{ userName }}</p>
<button
    class="btn btn-primary"
    [disabled]="!(userName !== '')"
    (click)="cleanUserName()">Clear Name</button>


<h3>Assigment 3</h3>

<button
    class="btn btn-primary"
    (click)="switchMessageDisplay()">Display details</button>

<p *ngIf="displayMessage">This is the secret Message</p>
<p *ngFor="let time of timeClickedList; let i = index" [ngStyle]="{backgroundColor : i > 5 ? 'blue' : 'white'}" [ngClass]="{wColor: i > 5}">{{ time }}</p>