<p>servers works!</p>
<input
    type = "text"
    class = "form-control"
    (input)="onUpdateServerName($event)">
<!-- Notice that when serverName change the value this input changes 
    too because NgModel works in both directions (this not happens with the other input) -->
    <input
    type = "text"
    class="form-control"
    [(ngModel)]="serverName">
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="createServer()">Add new server</button>
<p [innerText]="allowNewServer"></p>
<p> {{ newServer }}</p>
<app-server></app-server>


<h3>Assigment</h3>

<input
    type="text"
    class="form-control"
    [(ngModel)]="userName">

<p>{{ userName }}</p>
<button
    class="btn btn-primary"
    [disabled]="!(userName !== '')"
    (click)="cleanUserName()">Clear Name</button>